* html, body {
	font-family: AndikaR, Helvetica, Arial, "sans-serif";
}

body {
	color: #5d5d5d;
	padding-top: 130px;
	font-weight: 100;
}

pre {
	margin: 0;
	background: transparent;
	border: 0;
	padding: 0;
	font-family: SourceCodePro, Helvetica, Arial, "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222222;
	font-weight: 300;
	text-transform: uppercase;
}

strong, b {
	font-weight: 900;
}

a {
	color: #61acde;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

a:hover,
a:focus {
	color: #387190;
	text-decoration: none;
	outline: none;
}

.btn {
	font-weight: 300;
	border: 0;
}

.btn.btn-primary {
	background-color: #61acde;
}

.btn.btn-primary:hover,
.btn.btn-primary.active {
	background-color: #387190;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#top-navigation {
	position: fixed;
	z-index: 800;
	width: 100%;
	top: 0;
	background: #387190;
	height: 75px;
	border-bottom: 1px solid #8e9193;
}

#top-navigation .left-nav {
	display: inline-block;
	width: 40%;
}

#top-navigation .left-nav > h1.h4 {
	padding-top: 15px;
	margin: 0;
	padding-left: 15px;
}

#top-navigation .left-nav > h1.h4 > .brand {
	color: #ffffff;
	font-weight: bold;
}

#top-navigation .left-nav > h1.h4 > small {
	color: #f6f6f6;
}

#top-navigation .right-nav {
	display: inline-block;
	width: 40%;
	float: right;
}

#top-navigation .right-nav > ul {
	margin: 0;
	padding: 15px 0 0 0;
	text-align: right;
	height: 76px;
}

#top-navigation .right-nav > ul > li {
	display: inline-block;
	padding: 5px 10px;
	float: right;
}

#top-navigation .right-nav > ul > li a {
	color: #f6f6f6;
}

.navbar-brand {
	position: fixed;
	top: 0;
	z-index: 1000;
	height: 130px;
	border-radius: 50%;
	text-align: center;
	display: block;
	width: 150px;
	left: 50%;
	margin-left: -65px;
	background-color: #ffffff;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0, rgba(255, 255, 255, 0.4) 76px, rgba(255, 255, 255, 0) 130px);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0, rgba(255, 255, 255, 0.4) 76px, rgba(255, 255, 255, 0) 130px);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0, rgba(255, 255, 255, 0.4) 76px, rgba(255, 255, 255, 0) 130px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
}

#top-fader {
	position: fixed;
	top: 76px;
	height: 54px;
	width: 100%;
	z-index: 900;
	background-color: #ffffff;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
}

.breadcrumb {
	background-color: transparent;
	padding: 0;
	margin: 0 10px;
}

.breadcrumb li a {
	color: #777777;
}

.breadcrumb li a:focus,
.breadcrumb li a:hover {
	color: #387190;
	background: transparent;
}

.breadcrumb li:first-child:before {
	padding: 0 5px;
	color: #cccccc;
	content: "/\00a0";
}

#sidebar {
	height: 100%;
	padding-right: 0;
	padding-top: 30px;
}

#sidebar .nav {
	width: 95%;
}

#sidebar .nav > li,
#sidebar .nav > li > .nav > li {
	border: 0 #f2f2f2 solid;
	border-bottom-width: 1px;
}

#sidebar .nav > li:last-child,
#sidebar .nav > li > .nav > li:last-child {
	border: 0;
}

#sidebar .nav > li > .nav {
	font-size: small;
	padding-left: 10px;
}

#sidebar .nav a:focus,
#sidebar .nav a:hover {
	background-color: #f9f9f9;
}

#footer {
	border-top: 1px solid #f2f2f2;
	margin: 30px 0;
	padding-top: 15px;
}

.brand-image {
	display: block;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	background-color: #ffffff;
	padding: 10px;
	width: 200px;
	height: 200px;
	text-align: center;
	margin: 15px;
}

.brand-image:hover {
	box-shadow: 0 1px 2px #c4c4c4;
}

hr.blockspace {
	border: 0;
	border-bottom: 1px solid #f6f6f6;
	padding: 0;
	margin: 50px 15%;
}

.spacer {
	margin-top: 30px;
}

.circle {
	position: relative;
	width: 75%;
	display: inline-block;
	margin: 15px auto;
}

.circle:hover .circle-content {
	box-shadow: 0 1px 2px #808080;
}

.circle:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.circle-content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #68b8e8;
	color: #ffffff;
	font-size: x-large;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
	height: 100%;
	line-height: 100%;
	border-radius: 50%;
	padding: 15px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #808080;
}

.circle-content a {
	color: #ffffff;
}

.circle-content a:focus,
.circle-content a:hover {
	color: #f6f6f6;
}

.circle-content.session {
	background-color: rgba(112, 205, 255, 0.57);
}

.circle-content.icehawk,
.circle-content.pubsub {
	background-color: #387190;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {

	body {
		padding-top: 97px;
	}

	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}

	.row-offcanvas-right .sidebar-offcanvas {
		right: -41.6%;
	}

	.row-offcanvas-left .sidebar-offcanvas {
		left: -41.6%;
	}

	.row-offcanvas-right.active {
		right: 41.6%;
	}

	.row-offcanvas-left.active {
		left: 41.6%;
	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 41.6%;
	}

	#sidebar {
		padding-top: 20px;
	}

	#mainstage {
		padding-top: 20px;
	}

	.brand-image {
		width: 150px;
		height: 150px;
	}

	hr.blockspace {
		margin: 30px 10%;
	}

	.spacer {
		margin-top: 20px;
	}
}
