@font-face {
	font-family: 'SourceSansPro';
	src: url('../fonts/sourcesanspro-regular-webfont.eot');
	src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
	url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
	url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
	url('../fonts/sourcesanspro-regular-webfont.svg#webfont') format('svg');
}

@font-face {
	font-family: 'SourceCodePro';
	src: url('../fonts/sourcecodepro-regular-webfont.eot');
	src: url('../fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sourcecodepro-regular-webfont.woff') format('woff'),
	url('../fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
	url('../fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
	url('../fonts/sourcecodepro-regular-webfont.svg#webfont') format('svg');
}
