{% extends "theme.twig" %}

{% block content %}

	<h1>IceHawk framework</h1>
	<p class="text-muted">
		A micro-framework respecting CQRS - written for PHP 7
	</p>


	<h2>Who is using IceHawk?</h2>

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.vestino.de" target="_blank" class="brand-image">
				<img src="/images/brands/vestino-logo.png" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.strauss-innovation.de" target="_blank" class="brand-image">
				<img src="/images/brands/Strauss-Logo.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.more-and-more.de" target="_blank" class="brand-image">
				<img src="/images/brands/more-and-more-de-logo.jpg" class="img-responsive">
			</a>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.hajo-mode.com" target="_blank" class="brand-image">
				<img src="/images/brands/hajo.png" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.hatico.de" target="_blank" class="brand-image">
				<img src="/images/brands/hatico.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.tuzzi.de" target="_blank" class="brand-image">
				<img src="/images/brands/Tuzzi.png" class="img-responsive">
			</a>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.his-jeans.de" target="_blank" class="brand-image">
				<img src="/images/brands/H-I-S-Jeans.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.cg.fashion" target="_blank" class="brand-image">
				<img src="/images/brands/CG_Club-of-Gents_Logo_positiv.png" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.carlgross.fashion" target="_blank" class="brand-image">
				<img src="/images/brands/carl_gross.png" class="img-responsive">
			</a>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.pureshirt.de" target="_blank" class="brand-image">
				<img src="/images/brands/pure.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.daniel-hechter.de" target="_blank" class="brand-image">
				<img src="/images/brands/Daniel_hechter-logo.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.baeumler.com" target="_blank" class="brand-image">
				<img src="/images/brands/baeumler_logo.jpg" class="img-responsive">
			</a>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.spieth-wensky.com" target="_blank" class="brand-image">
				<img src="/images/brands/Spieth_Wensky_Logo.jpg" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.maerz.de" target="_blank" class="brand-image">
				<img src="/images/brands/maerz-muenchen-_logo.jpg" class="img-responsive">
			</a>
		</div>
	</div>

{% endblock %}
